* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 10px;
}

.logo {
    color: #f9faf9;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.link-two, .link-three {
    margin-left: 10px;
}

.header-container {
    height: 200px;
    background-color: #1F2937;
    color: #fff;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding-bottom: 10px;
}

.description {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.button {
    color: #fff;
    background-color: #3882f6;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}

.image-main {
    background-color: lightseagreen;
    padding: 60px;
    margin: 60px;
}

.content-container {
    background-color: #fff;
    color: #1F2937;
    height: 300px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.banner {
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.box {
    border: 3px solid #3882f6;
    border-radius: 9px;
    height: 150px;
    width: 150px;
}

